
body{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;  
    color:black; 
    display: flex;
}

.encabezado{
width: 100%;
text-align: center;
font-family: Rasa;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 88px;
color: #000000;

}
.redes{
    font-size: 38px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
   
}
.container{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-content: center;
}
.posit{
    border:1px solid green;
    margin: 30px;
    width: 456px;
    padding: 10px;
    height: 470px;

    background: #F9F1AA;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
}
.posit-header{
    border: 1px solid black;
    display: flex;
}
.chinche{
    border: 1px solid blue;
    width: 20%;
}
.sesion{
    
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
